body {
  font-size: 16px;
}

.receipt-img {
	padding: 6px;
    height: 150px;    
}

.remove-comment {
   background: none;
   border: 0;
   margin-right: 5px;
   cursor: pointer;
   &:hover {          
   	 opacity:0.5;
   	}
}

.activeLink {
    color:#53acff;
    text-decoration: 'none';
}